body {
	font-family: 'Poppins', sans-serif;
	background: rgb(218, 215, 215);
	background: radial-gradient(
		circle,
		rgba(218, 215, 215, 1) 0%,
		rgba(13, 102, 207, 1) 100%
	);
	scrollbar-color: #94c9eb #714826;
	scrollbar-width: thin;
}

.weather-app-container {
	display: flex;
	margin: 25rem auto;
	width: 80%;
	align-items: center;
	.weather-app-left-aside {
		width: 40%;
		padding: 3rem 0.75rem 5.25rem 2rem;
		background-size: cover;
		background-image: url('../assets/images/left-side-image.png');
		color: #fff;
		font-family: Montserrat;
		border-radius: 1.875rem;
		&__title {
			font-size: 2.25rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			margin-bottom: 1rem;
		}
		&__time {
			display: block;
			margin-bottom: 0.625rem;
		}
		&__date {
			font-size: 1.375rem;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			margin-bottom: 0.625rem;
		}
		.weather-app-left-aside-geolocation-info {
			display: flex;
			align-items: center;
			column-gap: 0.5rem;
			&__icon {
				width: 1.688rem;
				height: 1.688rem;
			}
			&__city {
				font-size: 1.25rem;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
			}
		}
		.weather-app-left-aside-current-day-forecast {
			&__icon {
				margin-top: 12.5rem;
				width: 5.4rem;
				height: 5.4rem;
				display: block;
				// background-image: url('../assets/images/Sunsun-ico.png');
				margin-bottom: 0.625rem;
				background-size: cover;
			}
			&__temperature {
				font-size: 3.125rem;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				margin-bottom: 0.813rem;
			}
			&__condition {
				font-size: 1.875rem;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			}
		}
	}
	.weather-app-right-aside {
		width: 60%;
		border-radius: 0 1.563rem 1.563rem 0;
		background: #222831;
		padding: 3.438rem 3.125rem 3.875rem 3.438rem;
		font-family: Montserrat;
		.weather-app-right-aside-info {
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: #fff;
			margin-bottom: 1rem;
			&__description {
				font-size: 1.75rem;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			}
			&__value {
				font-size: 1.75rem;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
			}
		}
		.weather-app-right-aside-several-days-forecast {
			display: flex;
			column-gap: 0.875rem;
			align-items: center;
			.weather-app-right-aside-several-days-forecast-day-btn {
				cursor: pointer;
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				row-gap: 0.938rem;
				width: 15%;
				padding: 0.875rem 1.5rem;
				border-radius: 0.825rem;
				box-shadow: 1px 0.125rem 0.25rem 0 #222831;
				border: none;
				outline: none;
				background: #272e37;
				color: #fff;
				margin-bottom: 4.375rem;
				&__icon {
					width: 3.438rem;
					height: 3.438rem;
					display: block;
					background-image: url('../assets/images/Sunsun-ico.png');
					background-size: cover;
				}
				&__weekday {
					font-size: 1.25rem;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
				}
				&__temperature {
					font-size: 1.08rem;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
				}
				&:hover {
				}
				&:active {
				}
				&:focus {
					background-color: #94c9eb;
					color: #fff;
				}
			}
		}
		.weather-app-right-aside-button {
			cursor: pointer;
			display: flex;
			align-items: center;
			column-gap: 0.5rem;
			justify-content: center;
			background-image: linear-gradient(
				to right,
				#77a1d3 0%,
				#79cbca 51%,
				#77a1d3 100%
			);
			margin: 0.625rem;
			padding: 0.938rem 2.813rem;
			text-align: center;
			text-transform: uppercase;
			transition: 0.5s;
			background-size: 200% auto;
			border-radius: 0.625rem;
			width: 100%;
			&__icon {
				width: 2.063rem;
				height: 2.063rem;
			}
			&__description {
				color: white;
				font-size: 1.25rem;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
			}
			&:hover {
				background-position: right center; /* change the direction of the change here */
				color: #fff;
				text-decoration: none;
			}
			&:active {
			}
			&:focus {
			}
		}
	}
}

.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba($color: #000000, $alpha: 0.8);
	top: 0;
	left: 0;
	display: none;
	&__body {
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1.25rem 0.625rem;
		.popup__content {
			display: flex;
			.popup__search {
				width: 31.25rem;
				padding: 0.938rem;
				outline: none;
				font-size: 1rem;
			}
			.popup__btn {
				cursor: pointer;
				border: none;
				outline: none;
				background-image: linear-gradient(
					to right,
					#314755 0%,
					#26a0da 51%,
					#314755 100%
				);
				padding: 0.938rem 2.813rem;
				text-align: center;
				text-transform: uppercase;
				transition: 0.5s;
				background-size: 200% auto;
				color: white;
				display: block;
				&:hover {
					background-position: right center; /* change the direction of the change here */
					color: #fff;
					text-decoration: none;
				}
			}
		}
	}
}
.loader{
    position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba($color: #000000, $alpha: 0.8);
	top: 0;
	left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  
